<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main" >
        <form action="" method="POST">
            <div class="formclass" id='formid'>
                {% csrf_token %}
                <div class="loginerror"> 
                    {% if form.non_field_errors %}
                    {% for each in form.non_field_errors %}
                        {{ each }}
                    {% endfor %}
                    {% endif %}
                </div>
                {% for fm in form %}
                    {{ fm.label_tag }}{{ fm }}{{ fm.errors|striptags }}<br>
                {% endfor %}
                <input type="submit" value="Submit"><br>
                <a href="{% url 'woodshophome:signup' %}">Signup</a>&nbsp; &nbsp;
                <a href="{% url 'woodshophome:login' %}">Login</a>
            </div>
        </form>
        </div>
</body>
</html>