@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap');

body{
    font-family: 'IBM Plex Serif', serif;
    font-size: large;
}

#dashboard{
    display: inline;
}
